<SETTINGS>
    <RESOLUTIONS>
        <RESOLUTION NAME="Laptop" WIDTH="1920" HEIGHT="1200"/>
        <RESOLUTION NAME="1080p" WIDTH="1920" HEIGHT="1080"/>
        <RESOLUTION NAME="720p" WIDTH="1280" HEIGHT="720"/>
        <SELECTED>1080p</SELECTED>
    </RESOLUTIONS>
    <COLOURS>
        <BACKGROUND>255, 219, 187</BACKGROUND>
        <COLUMNS>
            <COLUMN BACKGROUND="150, 186, 255" FOREGROUND="200, 225, 255"/>
            <COLUMN BACKGROUND="150, 255, 245" FOREGROUND="200, 255, 255"/>
        </COLUMNS>
        <TODAY>255, 255, 255</TODAY>
        <TEXT>0, 0, 0</TEXT>
        <ALLDAY>255, 219, 187</ALLDAY>
    </COLOURS>
    <SOURCE NAME="Family"/>
</SETTINGS>